html{
height: 100%;
margin: 0;
padding: 0;
}
body{
    height: 100%;
    background-image: url(../images/main-back.jpg);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    background-image: url(../images/header.jpg);
    height: 27vw;
    justify-content: center;
    align-items: center;
}
.logoText{
   font-size: 1.17em;
   font-weight: bold;
   text-transform: uppercase;
}
.main-class{
display: flex;
flex-direction: column;

}
.details-container{
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details-image{
    width: 100%;    
}
.details-title{
    display: flex;
    font-size: 1.60em;

}
.thumbnails-list{
display: flex;
flex-wrap: wrap;
max-height: 25vh;
overflow-y: scroll;
list-style: none;
justify-content: space-around;
padding-left: 1.5em;
padding-right: 1.5em;
}
.thumbnails-item{
margin-top: 2vh;
border-radius: 25%;
position: relative;
}
.thumbnails-anchor{
    text-decoration: none;

}
.thumbnails-image{
    width: 19vw;
    height: 16vw;
    border-radius: 5vw;
    padding: 0.3em;
    
}
.thumbnails-title{
    display: block;
    text-align: center;
    margin-top: -7%;
    border-radius: 4vw;
    color: black;
    background-color: antiquewhite;
    border: solid 0.5px;


}